.Menu {
    border-right: 1px solid var(--grey);
}

.SectionWrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--grey);
}

.SectionTitle {
    font-size: 20px;
}

.Category, .Rating, .Price {
    text-decoration: none;
    color: var(--grey);
    margin-top: 5px;
    font-size: 14px;
    margin-left: 10px;
}

.Category:hover, .Price:hover {
    color: var(--orange);
    cursor: pointer;
}

.Rating > img {
    width: 100px;
}

.SelectedCategory {
    color: var(--orange);
}