
.NavBar {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    padding: 1rem;
    background-color: var(--grey);
    color: var(--white);
    height: 4.5rem;
    align-items: center;
}

.Logo {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

.ArrowLogo > img{
    width: 4rem;
    transform: scaleY(-1);
}

.SearchBar {
    margin-left: 25px;
    display: flex;
    align-items: center;
    margin-top: -5px;
    width: 92%;
}

.SearchBar > input {
    width: 95%;
    height: 35px;
    padding: 10px;
}

.SearchNameButton > i {
    background: var(--orange);
    color: var(--grey);
    transform: scaleX(-1);
    font-size: 22px;
    padding: 6px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.UserAccount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.Cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: -5px;
    cursor: pointer;
}