* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

:root {
  --yellow: #FFD814;
  --orange: #ff9900;
  --red: #B12704;
  --black: #000000;
  --grey: #232f3e;
  --blue: #146eb4;
  --white: #f2f2f2;
}

.Loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--white);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: var(--orange);
}

.Rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: Rotate(0deg);
  }
  to {
    transform: Rotate(359deg);
  }
}