* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

:root {
  --yellow: #FFD814;
  --orange: #ff9900;
  --red: #B12704;
  --black: #000000;
  --grey: #232f3e;
  --blue: #146eb4;
  --white: #f2f2f2;
}